@model IEnumerable<WebApplication1.Models.Note>
@{
    ViewBag.Title = "Main page";
}
<body>
    <div>
        <h2>Статья</h2>
        <table border="0">
            <tr class="header">
                <td><p>Название  </p></td>
                <td><p>Дата  </p></td>
                <td><p>Текст статьи  </p></td>
                <td></td>
            </tr>
            @foreach (WebApplication1.Models.Note b in Model)
            {
                <tr>
                    <td><p>@b.Id</p></td>
                    <td><p>@b.Date</p></td>
                    <td><p>@b.Text</p></td>
                </tr>
            }
        </table>
    </div>


</body>
